@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;600;700;800&display=swap');

:root {
  --brand-color-dark:  9, 187, 131;
  --color: 255, 255, 255;
  --background-color: 10, 10, 10;
  --secondary-background-color: 35, 35, 35;
  --user-color: transparent;

  --red: 225, 29, 72;
  --orange: 234, 88, 12;
  --yellow: 234, 219, 12;
  --green: 9, 187, 131;
  --blue: 59, 130, 246;
  --violet: 124, 58, 237;
  --pink: 236, 72, 153;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(var(--color), 1);
  background-color: rgba(var(--background-color), 1);
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-weight: 500 !important;

}

* {
  box-sizing: border-box;
  will-change: auto;
}

.button {
  padding: 15px;
  border-radius: 18px;
  transition: 0.1s ease-in-out;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgba(var(--color), 0.1);
  font-weight: inherit;
  cursor: pointer;
  background: rgba(var(--brand-color-dark), 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
@media only screen and (max-width: 850px) {
  .button{
    padding: .5em;
  }
}
.button:hover {
  border-color:  rgba(var(--color), 0.2);
}

.button i {
  font-size: 18px;
  font-weight: inherit;
}

.button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.input {
  padding: 15px;
  border-radius: 18px;
  border: 1px solid rgba(var(--color), 0.1);
  background: rgba(var(--color), 0);
  color: inherit;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.input:hover {
  border-color: rgba(var(--color), 0.2);
}

.input:focus {
  background: rgba(var(--secondary-background-color), 1);
}

.input::placeholder {
  color: rgba(var(--color), 0.58);
}

.input:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

._heading {
  margin-bottom: 20px;
}

._heading h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

._heading  span {
  opacity: 0.58;
  display: block;
}

.empty {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty span  {
  margin: 20px 0;
  opacity: 0.58;
  width: 380px;
  text-align: center;
  font-size: 18px;
}

.empty i {
  opacity: 0.58;
  font-size: 38px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0;
  background-color: rgba(var(--color), 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--color), 0.1);
}